.fixedNav { 
  background-color: blue; height: 50px; 
  position: fixed;
  top:0;
  width: 100%;
}

.section1 {
  background-color: green; height: 150px;
}

.section2 { 
  background-color: pink; height: 150px;
} 

.section3 { 
  background-color: red; height: 150px;
} 

.section4 {
  background-color: yellow; height: 150px; 
} 

p { 
  text-align: center;
  color:hotpink;
}
